
.sesion1{
    position:relative;

}
body{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height:653px;
    overflow-x: hidden;
}
form{
    background:rgba(161, 196, 253);
    backdrop-filter:blur(3px);
    font-family: 'Varela Round', sans-serif;
    color:#fff;
    border-radius: 20px;
    position:relative;
    top:70px;
    padding:15px 10px;
    
}
#name, #email, #message{
    border-radius:10px;
    resize:none;
    margin-top:5px;
}
#message{
    height:110px;
}
form > label{
    margin-top:10px;
}
.img{
    display:flex;
    justify-content:center;
}
#boton{
    margin-top:10px;
    color:#fff;
    width:235px;
    border-radius:30px;
}
.botton{
    display:flex;
    justify-content:center;
}

#img2, #img3{
    position:absolute;
   
    top:5px;
    width:200px;
    
}
#img3{
    top:400px;
}





@media screen and (min-width:768px){
    body{
        height:1025px;
    }
    form{
        height:600px;
        width:500px;
        margin-top:100px;
    }
    .container{
        display:flex;
        justify-content:center;
    }
    #img2{

        width:400px;
    }
    #img3{
        top:600px;
        width:400px;
        left:200px;
    }
}

@media screen and (min-width:1024px){
    body{
        height:1360px;
    }
    form{
        height:650px;
        width:700px;
        margin-top:200px;
    }
    .container{
        display:flex;
        justify-content:center;
    }
    #img2{

        width:600px;
    }
    #img3{
        top:700px;
        width:600px;
        left:200px;
    }
}
@media screen and (min-width:1026px){
    body{
        height:755px;
    }
    form{
        height:500px;
        width:500px;
        margin-top:50px;
        padding:20px 20px;
    }
    #boton{
        width:500px;
        margin-top:20px;
    }
    .container{
        display:flex;
        justify-content:center;
    }
    #img2{

        width:300px;
    }
    #img3{
        top:400px;
        width:300px;
        left:200px;
        left:-300px;
        animation-name:run;
        animation-duration:45s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;

    }
    #img2{
        left:-300px;
        animation-name:run;
        animation-duration:25s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
    }
    @keyframes run{
        0%{
            transform:translatex(1800px);
        }
    }
}
